*.pd filter=lfs diff=lfs merge=lfs -text
object_detection/model/spidermodel/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
object_detection/model/generalmodel/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
